<div class="partials">
  <div><%= render partial: 'shared/main_nav' %></div>
  <div><%= render partial: 'shared/masthead' %></div>
  <div><%= render partial: 'shared/sections_nav' %></div>
  <div><%= render partial: 'shared/search_modal' %></div>
  <div><%= render partial: 'shared/main_content' %></div>
</div>